<!doctype html>
<html lang="en">
    <%- include('./partials/head') %>

<body>
    <main>
        <%- include('./partials/navbar') %>
        <header class="site-header d-flex flex-column justify-content-center align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-12 text-center">
                        <h2 class="mb-0">Logs</h2>
                    </div>
                </div>
            </div>
        </header>
        <section class="trending-podcast-section section-padding pt-0">
            <div class="container">
                <div class="col-lg-12 col-12">
                    <div class="section-title-wrap mb-5">
                        <h4 class="section-title">Trending Logs</h4>
                    </div>
                </div>
                <div class="row">
                    <% logs.forEach(log => { %>
                            <div class="custom-block custom-block-full p-1 my-1">
                               
                                <div class="custom-block-image-wrap">
                                
                                <div class="custom-block-info">
                            
                                    <h5 class="mb-2">
                                        <a href="/logs/<%= log._id %>">
                                            <%= log.title %>
                                        </a>
                                    </h5>
                                    <div class="profile-block d-flex">
                                        <img src="images/profile/avatar.svg"
                                            class="profile-block-image img-fluid" alt="">

                                        <p>@<%= log.author %>
                                            <strong><%= log.authorProfession %></strong>
                                        </p>
                                    </div>

                                    <p class="mb-0"><%= log.body %></p>

                                    <div class="custom-block-bottom d-flex justify-content-between mt-3">
                                        <a href="#" class="bi-headphones me-1">
                                            <span>100k</span>
                                        </a>

                                        <a href="#" class="bi-heart me-1">
                                            <span>2.5k</span>
                                        </a>

                                        <a href="#" class="bi-chat me-1">
                                            <span>924k</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="social-share d-flex flex-column ms-auto">
                                    <a href="#" class="badge ms-auto bg-success">
                                        <i class="bi-pen"></i>
                                    </a>
                                    <a class="delete badge ms-auto bg-danger" data-doc="<%= log._id %>" id="deleteIcon">
                                        <i class="bi-trash "></i>
                                    </a>
                                </div>
                            </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </section>
    </main>

    <%- include('./partials/footer') %>

    <script>
        const deleteIcon = document.getElementById('deleteIcon')

        deleteIcon.addEventListener('click', (e) => {
            const endPoint = `/logs/${deleteIcon.dataset.doc}`;

            fetch(endPoint, {
                method: 'DELETE'
            })
            .then((response) => response.json())
            .then((data) => window.location.href = data.redirect)
            .catch((error) => {
                console.log(error)
            })
        })
    </script>


    <!-- JAVASCRIPT FILES -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/custom.js"></script>



</body>

</html>